---
title: Каталог товаров - Поролоныч
description: Поролон, искусственная кожа, вилатерм и другие товары оптом и в розницу с доставкой по Москве от компании "Поролоныч".
redirect_from: 
- /index.php/tkan-mebelnaya-obivochnaya
- /index.php/prajs-list
- /index.php/katalog-tovarov

layout: default
permalink: /catalog/

prod_title: Каталог
---
<h1>{{ page.prod_title }}</h1>
<hr>

<div class="row">
	{% assign sorted_cat = site.catalog | sort: 'weight' %}
	{% for cat in sorted_cat %}
		{% if cat.type == "category" %}
			<div class="4u 6u(large) 12u(small)">
				<div class="box feature">
					<a class="image featured" href={{ cat.url }}><img src="{{ cat.prod_image }}" alt="{{ cat.prod_title }}"/></a>
					<div class="inner">
						<header>
							<a href={{ cat.url }}>{{ cat.prod_title }}</a>
						</header>
						<p>{{ cat.prod_short_desc }}</p>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>