<section id="banner-wrapper" style="color:#fff">
	<div class="slick">
		<!-- <div> -->
			<!-- <div class="banner" style="background-image: url('/images/banner_sale.jpg')"> -->
				<!-- <div class="inner"> -->
					<!-- <h2>SALE</h2> -->
					<!-- <p>Только до конца марта скидка 10% на все модели из коллекции Duo</p> -->
					<!-- <ul class="actions"> -->
						<!-- <li><a href="/catalog/duo/" class="button special">Смотреть коллекцию</a></li> -->
					<!-- </ul> -->
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> -->
		<div>
			<div class="banner" style="background-image: url('/images/banner-uniq.jpg')">
				<div class="inner">
					<h2>Uniq</h2>
					<p>Строгая форма и яркое оформление</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Смотреть коллекцию</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('/images/banner-antiq.jpg')">
				<div class="inner">
					<h2>Antiq</h2>
					<p>Ручная работа - каждый радиатор уникален</p>
					<ul class="actions">
						<li><a href="/catalog/antiq/" class="button special">Смотреть коллекцию</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('/images/banner-duo.jpg')">
				<div class="inner">
					<h2>Duo</h2>
					<p>Бесконечное количество сочетаний</p>
					<ul class="actions">
						<li><a href="/catalog/duo/" class="button special">Смотреть коллекцию</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>