<div id="breadcrumbs">
	{% assign crumbs = page.url | split: '/' %}
	<ul class="default">
		<li><a href="/">Главная</a></li>
		{% for crumb in crumbs offset: 1 %}
			{% if forloop.last %}
				<li class="active">{{ page.prod_title }}</li>
			{% else %}
				{% capture full_url %}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}{% endcapture %}
				{% assign crumb_title = "" %}
				{% for p in site.pages %}
					{% if p.url == full_url %}
						{% capture crumb_title %}{{ p.prod_title }}{% endcapture %}
					{% endif %}
				{% endfor %}
				{% if crumb_title == "" %}
					{% for p in site.catalog %}
						{% if p.url == full_url %}
							{% capture crumb_title %}{{ p.prod_title }}{% endcapture %}
						{% endif %}
					{% endfor %}
				{% endif %}
				
				<li><a href="{{ full_url }}">{{ crumb_title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>