<footer id="footer">
	<div class="container">
		<div class="row double">
			<div class="6u 12u$(medium)">
				<h2>copperi</h2>
				<p>Создавая дизайнерские радиаторы отопления COPPERI, мы руководствовались одним простым принципом - никаких компромиссов! Только самые эффективные, безопасные и экологически чистые материалы, только самые передовые технологии производства, надежные конструкции и уникальный дизайн.</p>
			</div>
			<div class="3u 6u(medium)">
				<ul class="alt align-center">
					<li><h3>Меню</h3></li>
					<li><a href="/">Главная</a></li>
					<li><a href="/catalog/">Каталог</a></li>
					<li><a href="/tech-info">Тех. инфо</a></li>
					<li><a href="/contact">Контакты</a></li>
				</ul>
			</div>
			<div class="3u$ 6u$(medium)">
				<ul class="alt align-center">
					<li><h3>Мы в сети</h3></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Pinterest</a></li>
				</ul>
			</div>
		</div>
		<ul class="copyright">
			<li>&copy; copperi 2012-2018. All rights reserved.</li>
			<li>Design: copperi</li>
		</ul>
	</div>
</footer>