<footer id="footer">
	<div class="container special 75%">
		<div class="row double">
			<div class="3u 6u(medium)">
				<ul class="footer-links">
					<li><p>Коллекции</p></li>
					<li><a href="/catalog/plain/">Plain</a></li>
					<li><a href="/catalog/art/">Art</a></li>
					<li><a href="/catalog/duo/">Duo</a></li>
					<li><a href="/catalog/uniq/">Uniq</a></li>
					<li><a href="/catalog/antiq/">Antiq</a></li>
				</ul>
			</div>
			<div class="3u 6u$(medium)">
				<ul class="footer-links">
					<li><p>Компания</p></li>
					<li><a href="/about">О нас</a></li>
					<li><a href="/how-to-buy">Как заказать</a></li>
					<li><a href="/partners">Партнерам</a></li>
					<li><a href="/contact">Контакты</a></li>
				</ul>
			</div>
			<div class="3u 6u(medium)">
				<ul class="footer-links">
					<li><p>Инфо</p></li>
					<li><a href="/tech-info">Техническая информация</a></li>
					<li><a href="/faq">FAQ</a></li>
					<li><a href="/interiors">Радиаторы в интерьере</a></li>
				</ul>
			</div>
			<div class="3u 6u$(medium)">
				<ul class="footer-links">
					<li><p>Мы в сети</p></li>
					<li><a href="https://www.facebook.com/copperi.ru" rel="nofollow" target="_blank">Facebook</a></li>
					<li><a href="https://www.instagram.com/copperi_ru/" rel="nofollow" target="_blank">Instagram</a></li>
					<li><a href="#">Pinterest</a></li>
				</ul>
			</div>
			
		</div>
	</div>
	<ul class="copyright">
		<li>&copy; COPPERI 2016. All rights reserved.</li>
		<li>Design: COPPERI</li>
	</ul>
</footer>