				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="6u 12u$(small)">
								
								<section class="widget links">
									<h3>Магазин</h3>
									<ul class="style2 default">
										<li><a href="/">О нас</a></li>
										<li><a href="/catalog/">Каталог</a></li>
										<li><a href="/uslugi/">Услуги</a></li>
										<li><a href="/dostavka-i-oplata/">Доставка и оплата</a></li>
										<li><a href="/blog/">Блог</a></li>
									</ul>
								</section>
							</div>
							<div class="6u$ 12u$(small)">
								
								<section class="widget contact">
									<h3>Контакты</h3>
									<ul class="default">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
									</ul>
									<p>
										Москва, Каширское шоссе, д. 1<br />
										ТЦ "Каширский двор - 2"<br />
										+7 (499) 408-00-24
									</p>
									
								</section>

							</div>
						</div>
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu default">
										<li>&copy; 1998-2016 Поролоныч</li><li>Design: <a href="http://model-r.ru">Модельер</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.validate.min.js"></script>
			<script src="/assets/js/jquery.matchHeight.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.min.js"></script>
			<link rel="stylesheet" href="/assets/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
			<script type="text/javascript" src="/assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
			{% if page.url != "/" %}
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					if ((document.referrer.indexOf(location.hostname) != -1) && (document.URL.indexOf('#') == -1)) {
						$("html,body").animate({scrollTop:$('#content').offset().top},1);
					}
				});
			</script>
			{% endif %}

	</body>
</html>