<section id="pre-footer" class="container 75% special">
	<header>
		<h3>О компании</h3>
	</header>
	<p>Создавая дизайнерские радиаторы отопления COPPERI, мы руководствовались одним простым принципом - никаких компромиссов! Только самые эффективные, безопасные и экологически чистые материалы, только самые передовые технологии производства, надежные конструкции и уникальный дизайн.</p>
	<ul class="actions icons">
		<li><a href="https://www.facebook.com/copperi.ru" rel="nofollow" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
		<li><a href="https://www.instagram.com/copperi_ru/" rel="nofollow" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
		<li><a href="#"><i class="fa fa-pinterest"></i>Pinterest</a></li>
	</ul>
</section>