<div id="sidebar">
<!-- Sidebar -->
	<section>
		<h3>Каталог</h3>
		<ul class="default">
			<li><a href="/catalog/porolon/">Поролон</a></li>
			<li><a href="/catalog/iskusstvennaya-kozha/">Искусственная кожа</a></li>
			<li><a href="/catalog/napolniteli-dlya-myagkoj-mebeli/">Наполнители для мягкой мебели</a></li>
			<li><a href="/catalog/voylok/">Войлок</a></li>
			<li><a href="/catalog/utepliteli/">Утеплители</a></li>
			<li><a href="/catalog/mebelnye-gvozdi/">Мебельные гвозди</a></li>
			<li><a href="/catalog/furnitura-dlya-obivki-klej/">Фурнитура для обивки. Клей</a></li>
		</ul>
	</section>
</div>