<!DOCTYPE HTML>

<html lang="ru">
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			{% include header.html %}	

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="3u 4u(medium) 12u$(small)">
								{% include sidebar.html %}
							</div>
							<div class="9u 8u(medium) 12u$(small)">
								<div id="content">

									<!-- Content -->
										{% include crumbs.html %}
										<article>
											<h1>{{ page.prod_title }}</h1>
											<hr>
											<div class="row 50%">
											{% assign url_list = page.url | split: '/' %}
											{% assign cat_name = url_list | last %}
											{% assign sorted_cat = site.catalog | sort: 'weight' %}
											{% for product in sorted_cat %}
												{% if (product.type != "category" and product.url contains page.url) or (product.prod_add_cat == cat_name) %}
													{% assign url_list = product.url | split: '/' %}
													{% assign prod_name = url_list | last %}
													<div class="3u 4u(large) 6u(medium)">
														<div class="box feature">
															<a class="image feature" href={{ product.url }}><img src="/images/catalog/{{ prod_name }}_small.jpg" alt="{{product.prod_title}}"/></a>
															<a href={{ product.url }} class="button alt small" style="width:100%;text-align:center;">Подробнее</a>
															<section class="inner">
																<header>
																	<a href={{ product.url }}>{{ product.prod_title }}</a>
																	{% if product.price %}
																	<h4>Цена: {{ product.price-b }}{{ product.price }}{{ product.price-a }}</h4>
																	{% endif %}
																</header>
																<p>{{ product.prod_short_desc }}</p>
															</section>
														</div>
													</div>
												{% endif %}
											{% endfor %}
											
											</div>
											<div class="row">
												<article>
												{{ content }}
												<script type="application/ld+json">
												{
												  "@context": "http://schema.org/",
												  "@type": "Review",
												  "itemReviewed": {
													"@type": "Thing",
													"name": "{{page.prod_title}}"
												  },
												  "author": {
													"@type": "Organization",
													"name": "Поролоныч"
												  },
												  "reviewRating": {
													"@type": "Rating",
													"ratingValue": "4.9",
													"bestRating": "5"
												  },
												  "publisher": {
													"@type": "Organization",
													"name": "Поролоныч"
												  }
												}
												</script>
												</article>
											</div>
										</article>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
			{% include footer.html %}