<!DOCTYPE HTML>

<html lang="ru">
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
			{% include header.html %}	

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="3u 4u(medium) 12u$(small)">
								{% include sidebar.html %}
							</div>
							<div class="9u 8u(medium) 12u$(small)">
								<div id="content">

									<!-- Content -->
										{% include crumbs.html %}
										<article>

											{{ content }}

										</article>

								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
			{% include footer.html %}