<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body id="top" class="index is-loading">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}	
		<!-- Nav -->
		{% include nav.html %}	

		<!-- Banner -->
		{% include banner-big.html %}	
		
		<!-- Main -->
			<div id="main">
				<article  class="special">
					{{ content }}
					{% include pre-footer.html %}
				</article>
			</div>
		<!-- CTA -->
		{% include cta.html %}	
		<!-- Footer -->
		{% include footer.html %}	
		<!-- Scripts -->
		{% include scripts.html %}	
		</div>
	</body>
</html>