<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body class="is-loading">
		<div id="page-wrapper">
			<!-- Header -->
			{% include header.html %}	
			<!-- Nav -->
			{% include nav.html %}	

			<!-- Main -->
			<article>
				<section>
					{% assign url_list = page.url | split: '/' %}
					{% assign model_name = url_list | last %}
				
					{% assign img_array = "" | split:"," %}
					{% for file in site.static_files %}
						{% if file.path contains model_name %}
							{% unless file.path contains "small" %}
								{% assign img_array = img_array | push: file.path %}
							{% endunless %}
						{% endif %}
					{% endfor %}
					
					<div class="row">
						<div class="6u 12u(medium)">
							<img class="image fit" src="{{ img_array[0] }}" />
						</div>
						<div class="6u 12u(medium)">
							<div class="hero-container container">
								<header>
									<h2>{{ page.model-title }}</h2>
								</header>
								<p>{{ page.model-desc }}</p>
								{% if page.features %}
								<ul>
								{% for feature in page.features %}
									<li>{{feature}}</li>
								{% endfor %}
								</ul>
								{% endif %}
								<hr />
								<footer>
									<ul class="actions align-center">
										<li><a href="#" class="button alt big">Заказать</a></li>
									</ul>
								</footer>
							</div>
						</div>
					</div>
				</section>
				<hr />
				<section class="container">
					<header>
						<h2>В деталях:</h2>
					</header>
				</section>
				<section class="container mobile-full">
					<div class="row uniform 50%">
						{% for img in img_array %}
							{% if forloop.index == 1 %}
								{% continue %}
							{% endif %}
							<div class="6u 12u(medium)">
								<img class="image fit" src="{{img}}" />
							</div>
						{% endfor %}
					</div>
				</section>
				<hr />
				<!-- Price-list -->
				{% if site.data.price[1][model_name] %}
				<section class="container">
					<div class="row uniform 50%">
						<div class="6u 12u$(medium)">
							<header>
								<h2>Размеры и цены:</h2>
							</header>
							<div class="table-wrapper">
								<table>
									{% for model in site.data.size %}
										{% if page.vertical %}
										{% assign row = forloop.index |minus: 1 %}
										{% if site.data.price[row][model_name] == nil %}
											{% break %}
										{% endif %}
										<tr>
											{% if model.size-v == nil %}
												{% break %}
											{% endif %}
											{% assign row = forloop.index |minus: 1 %}
											{% if site.data.price[row][model_name] == nil %}
												{% break %}
											{% endif %}
											<td>{{model.size-v}} мм</td>
											<td>{{model.power-v}} Вт</td>
											
											<td>{{site.data.price[row][model_name]}} &#8381;</td>
										</tr>
										{% else %}
										{% assign row = forloop.index |minus: 1 %}
										{% if site.data.price[row][model_name] == nil %}
											{% break %}
										{% endif %}
										<tr>
											<td>{{model.size}} мм</td>
											<td>{{model.power}} Вт</td>
											
											<td>{{site.data.price[row][model_name]}} &#8381;</td>
										</tr>
										{% endif %}
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				</section>
				{% endif %}
				{% if page.related %}
				<hr />
				<section class="container">
					<header>
						<h2>Похожие модели:</h2>
					</header>
					<div class="row uniform 25%">
						{% for rel-product in page.related %}
							{% for product in site.catalog %}
								{% if product.url contains rel-product %}
								<div class="4u 12u(small)">
									<a class="feature" href="{{product.url}}">
										<img src="/images/{{product.path | remove: "_" | remove: ".md"}}-small.jpg" />
										<h3>{{product.model-title}}</h3>
									</a>
								</div>	
								{% endif %}
							{% endfor %}
						{% endfor %}
					</div>
				</section>
				{% endif %}
				<footer class="container align-center">
					<ul class="actions">
						<li><a class="button big alt" href="/catalog/">Весь каталог</a></li>
					</ul>
				</footer>
			</article>
			<!-- Footer -->
			{% include footer.html %}	
			<!-- Scripts -->
			{% include scripts.html %}	
		</div>
	</body>
</html>