<!DOCTYPE HTML>

<html>
	<head>
		{% include head.html %}
		{% seo %}
	</head>
	<body id="top" class="is-loading">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}	
		<!-- Nav -->
		{% include nav.html %}		
		<!-- Main -->
			<div id="not-main">
				<article  class="special">
					<section id="product-hero">
						<div id="banner-wrapper" style="color:#ccc">
							{% assign img_array = "" | split:"," %}
							{% for file in site.static_files %}
								{% if file.path contains page.url %}
									{% assign img_array = img_array | push: file.path %}
								{% endif %}
							{% endfor %}
							{% if img_array.size > 0 %}
							
							<div class="slick-product">
								{% for img in img_array %}
								<div>
									<div class="banner b-product">
										<img src="{{ img }}" alt="{{page.product-title}}-{{forloop.index}}">
									</div>
								</div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						<header class="product">
							{% assign rating_array = "4.7,4.8,4.9" | split:"," %}
							{% assign count_array = "12,18,6,8,11,16" | split:"," %}
							<script type="application/ld+json">
							{
							  "@context": "http://schema.org/",
							  "@type": "Product",
							  "name": "{{page.product-title}}",
							  "image": "http://copperi.ru/images{{page.url}}-1.jpg",
							  "description": "{{page.product-desc}}",
							  "aggregateRating": {
								"@type": "AggregateRating",
								"ratingValue": "{{rating_array | sample}}",
								"reviewCount": "{{count_array | sample}}"
							  },
							  "offers": {
								"@type": "Offer",
								"priceCurrency": "RUB",
								"price": "{{site.data[page.product-type][0].price | remove: ","}}",
								"priceValidUntil": "2020-11-05",
								"availability": "http://schema.org/InStock",
								"seller": {
								  "@type": "Organization",
								  "name": "COPPERI"
								}
							  }
							}
							</script>
							<h2>{{ page.product-name }}</h2>
							<div class="var_attr">
								{% for model in site.data[page.product-type] %}
								<p class="s{{forloop.index}} hide">{{model.price}}</p>
								{% endfor %}
							</div>
							<button id="btn-order" class="button modal-open" data-modal="modal-order">Заказать</button>
						</header>							
					</section>
					<div class="hero-block container 75%">
						<div class="4u -4u 6u(medium) -3u(medium) 10u(xsmall) -1u(xsmall)">
						<h5>Выберите размер</h5>
						<div class="select-wrapper">
							<select id="pa_size" name="attribute_pa_size" class="size_select" data-target=".var_attr">
								{% for model in site.data[page.product-type] %}
								<option value="{{model.size}}" {% if forloop.index==1 %}selected="selected"{% endif %} data-show=".s{{forloop.index}}">{{model.size}}</option>
								{% endfor %}
							</select>
						</div>
						</div>
					</div>
					
					<div class="hero-block container 50%">
						<h1>{{ page.product-title }}</h1>
						<p>{{ page.product-desc }}</p>
					</div>
					
					<div class="hero-block container 75%">
						<div class="row">
							{% assign first-model-1 = site.data[page.product-type] | first%}
							{% assign last-model-1 = site.data[page.product-type] | last%}
							{% assign model_array = page.product-model | split: '-' %}
							{% assign design-number = model_array | last %}
							<ul class="attr">
								<li class="var_attr">Артикул: {% for model in site.data[page.product-type] %}<span class="s{{forloop.index}} hide">{{model.model-no}}-{{design-number}}</span>{% endfor %}</li>
								<li class="var_attr">Размер: {% for model in site.data[page.product-type] %}<span class="s{{forloop.index}} hide">{{model.size}}</span>{% endfor %}</li>
								<li class="var_attr">Мощность: {% for model in site.data[page.product-type] %}<span class="s{{forloop.index}} hide">{{model.wattage}} ({{first-model-1.wattage}}-{{last-model-1.wattage}}) Вт</span>{% endfor %}</li>
								<li>Подключение: <span>{{ page.product-connection }}</span></li>
								<li>Цвет: <span>{{ page.product-color }}</span></li>
							</ul>
						</div>
					</div>
					
					<div class="hero-block container 50%">
						<h4>Особенности модели:</h4>
						<ul class="alt">
							{% for feature in page.product-features %}
							<li>{{ feature }}</li>
							{% endfor %}
						</ul>
						
					</div>
					{% if page.related %}
					<section id="frontpage-grid">
						<header>
							<h2>Вам также может понравиться</h2>
						</header>
						<div class="row 0%">
							{% for rel-product in page.related %}
								{% for product in site.catalog %}
									{% if product.url contains rel-product %}
										<div class="3u 4u(large) 6u(small)">
											<a href="{{ product.url }}" class="copperi-link">
												<div class="inner-wrapper product">	
													<img class="image fit pop" src="/images/catalog/{{product.product-model}}-small.jpg" alt="{{product.product-title}}">
													<h3>{{ product.product-name }}</h3>
													{% assign first-model = site.data[product.product-type] | first%}
													<p>{{ first-model.price }}</p>
												</div>	
											</a>
										</div>
									{% endif %}
								{% endfor %}
							{% endfor %}
							
							
						</div>
						
					</section>
					{% assign url_list = page.url | split: '/' %}
					{% assign prod_name = url_list | last %}
					{% assign back_url = page.url | remove: prod_name %}
					<div class="view-more">
						<a href="{{back_url}}">Смотреть всю коллекцию</a>						
					</div>
					{% endif %}
					{% include pre-footer.html %}
				</article>
			</div>
		<!-- CTA -->
		{% include cta.html %}	
		<!-- Footer -->
		{% include footer.html %}	
		<!-- Scripts -->
		{% include scripts.html %}	
		</div>
		<!-- The Modal -->
		<div id="modal-order" class="modal">

			<!-- Modal content -->
			<div class="modal-content special">
				<span id="modal-close-order" class="modal-close" data-close="modal-order"></span>
				<form action="#" class="ajax-form">
					<h3>Заказ</h3>
					<input type="text" class="name" name="name" placeholder="Ваше имя*" required>
					<input type="tel" class="phone" name="phone" placeholder="Номер телефона*" required>
					<input style="display:none" type="text" class="product" name="product" id="product-order" value="">
					<ul class="actions">
						<li><input type="submit" class="submit button fit" value="Отправить"></li>
					</ul>
				</form>
				<div class="form-succes" style="display:none;">
					 <h3>Спасибо!</h3>
					 <p>Мы свяжемся с Вами в самое ближайшее время!</p>
				</div>
				<div class="form-error" style="display:none;">
					 <h3>Ой!</h3>
					 <p>Что-то пошло не так. Попробуйте отправить заказ чуть позже или просто позвоните нам.</p>
				</div>
			</div>

		</div>
	</body>
</html>